.nav-list {
    display: flex;
    padding: 0;
}

.nav-list__item {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;
}

.nav__link {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5vh;
}

// .footer-text {
//     color: var(--color_text_dark);
//     font-size: 13px;
//     margin: 0.5vh 1vh;
// }

.img {
    width: 2.7vh;
    margin: 0.5vh 2.3vh;
}

// .icon__margin {
//     width: 2.7vh;
//     margin: 1.3vh 0 0.5vh;
// }

// .icon__add {
//     width: 2.3vh;
//     margin: 1.3vh 0 0.5vh;
// }

// .icon__mail {
//     width: 3.1vh;
//     margin: 1.3vh 0 0vh;
// }