.nav-list {
    display: flex;
    padding: 0;
}

.nav-list__item {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;
}

.nav__link {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5vh;
}

.img {
    width: 2.7vh;
    margin: 0.5vh 2.3vh;
}
