
.nav-list {
    // display: flex;
    // justify-content: center;
    // align-items: baseline;
    // gap: 3.1vh;

    // margin-right: 4vh;
    // margin-left: 0vh;
}

.nav-list__item {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    // align-items: baseline;
}

.nav__link {
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: var(--color_text_dark);
    font-size: 14px;
}

.icon__margin {
    width: 2.7vh;
    margin: 1.3vh 0 0.5vh;
}

.icon__add {
    width: 2.3vh;
    margin: 1.3vh 0 0.5vh;
}

.icon__mail {
    width: 3.1vh;
    margin: 1.3vh 0 0vh;
}