.calendar-container {
    margin: 1vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.calendar-title {
    font-weight: 100;
}

.calendar-icon__item {
    margin-left: 24vh;
}

.calendar__icon {
    width: 4.5vh;
}