.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid #e0e0e0;

    background-color: var(--bg_color);

    border-radius: 0 0 47px 47px;
    position: absolute;
    height: 93px;

    bottom: 0;
    left: 0;
    right: 0;
}
