.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid #e0e0e0;

    background-color: var(--bg_color);

    border-radius: 0 0 47px 47px;
    position: absolute;
    height: 93px;

    bottom: 0;
    left: 0;
    right: 0;
}

.nav-list {
    display: flex;
    padding: 0;
}

.nav-list__item {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;
    margin-top: -1.5vh;
}

.img {
    width: 2.8vh;
    margin: 0.5vh 2.3vh;
}
