.footer-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #e0e0e0;

    background-color: var(--bg_color);

    margin: 0 -3.4vh;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 3.1vh;

    margin-right: 4vh;
    // margin-left: 0vh;
}

.nav-list__item {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: var(--color_text_dark);
    font-size: 14px;
}

.icon__margin {
    width: 2.7vh;
    margin: 1.3vh 0 0.5vh;
}

.icon__add {
    width: 2.3vh;
}
