.img-dataForm {
    display: flex;
    flex-flow: row nowrap;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    // margin: -0.9vh;
}

.color-green {
    // background-color: #8efb8c;
}

.color-red {
    // background-color: #ff8f8f;
}